body {
    text-align: center;
    font-family: sans-serif;
    font-weight: 100;
 }

h1 {
    text-align: center;
    margin: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    color: #EEEEEE;
}

.enterDate {
    text-align: center;
    background: #616161;
    width: 100%;
    height: 200px;
}

input {
    margin: 5px;
    width: 800px;
    height: 30px;
    padding: 6px 12px;
    border-radius: 6px;
    color: #212121;
    background: #EEEEEE;
    font-size: 16px;
}

input:focus {
     border: 2px groove #9E9E9E;
     outline: none;
}

.btnStyle {
    background: #EEEEEE;
    border: 2px solid #BDBDBD;
    color: #212121;
    width: 100px;
    height: 45px;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    outline: none;
}

.btnStyle:hover {
    background: #BDBDBD ;
    color: #212121;
    font-weight: 600;
}

#showTime {
	color: #2a222a;
	display: inline-block;
    font-weight: 100;
	text-align: center;
	font-size: 30px;
    margin: 80px;
}

#showTime > div {
    padding: 10px;
	border-radius: 3px;
	background: #d3c5d3;
	display: inline-block;
    width: 135px;
    height: 135px;  
}

#days, #hours, #minutes, #seconds {
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
	border-radius: 3px;
	background: #bda8bd;
	display: inline-block;
    width: 30px;
    height: 30px;
}

.text {
	font-size: 16px;
    padding-top: 5px;
}